@page "/settings/tournament"
@using BattleJop.Web.Components.Cards
@using BattleJop.Web.Components.Modals
@using BattleJop.Web.Dto
<h1>Paramétrage du tournoi</h1>

<div class="spacer"></div>

<div class="settings">
    <div class="flex-column name">
        <p>Nom du tournoi</p>
        <input type="text" />
    </div>
    <div class="flex-column rounds">
        <p>Nombre de manches : @RoundNumber</p>
        <input class="slider" @bind="RoundNumber" type="range" min="1" max="20" step="1" @bind:event="oninput" />
    </div>
</div>

<div class="spacer"></div>

<div>
    <div class="flex-row">
        <h3>Equipes</h3>
        <button class="golden-button add-button" onclick="@OnShowModalClick">+</button>
    </div>
    <hr />
    @foreach (var team in Teams)
    {
        <TeamCard Team="@team" OnTeamDeleted="@OnDeleteTeam"></TeamCard>


        <div class="half-spacer"></div>
    }
</div>

<div class="spacer"></div>

<div class="footer"> 

    <button class="golden-button" onclick="@CreateTournament">Lancer le tournoi</button>
</div>

<EditTeamModal OnModalReady="@HandleModalReady" OnTeamSaved="@OnAddTeam" ></EditTeamModal>