@using BattleJop.Web.Components.Modals
@using BattleJop.Web.Enum
<Card TextAlignment="Alignment.Center">
    <CardBody>
        <div class="container">
            <div class="team">
                <p>@Match.TeamA.Name</p> 
               @*  <p>@Match.TeamA.Players.Item1</p>
                <p>@Match.TeamA.Players.Item2</p> *@
            </div>
            <div class="score">
                @Match.ScoreA - @Match.ScoreB
            </div>
            <div class="team">
                <p>@Match.TeamB.Name</p>
               @*  <p>@Match.TeamB.Players.Item1</p>
                <p>@Match.TeamB.Players.Item2</p> *@
            </div>
        </div>
        @switch (Match.State)
        {
            case MatchState.WaintingForStart:
                <div class="space"></div>
                <button class="match-button golden-button start" @onclick="@(() => UpdateMatchState(MatchState.InProgress))">Commencer le match</button>
                @* <Button class="match-button" Color="ButtonColor.Success" To="#" Type="@ButtonType.Button"
                        @onclick="@(() => UpdateMatchState(MatchState.InProgress))">
                    Commencer le match
                </Button> *@
                break;
            case MatchState.InProgress:
                <div class="space"></div>
                <button class="match-button golden-button" @onclick="@OnShowModalClick">Saisir le score</button>

                @* <Button To="#" Type="@ButtonType.Button" Color="ButtonColor.Light"
                        @onclick="@OnShowModalClick">
                    Saisir le score
                </Button> *@
                break;
        }

    </CardBody>
</Card>

<EditScoreModal Match="@Match" OnModalReady="@HandleModalReady" OnConfirmed="@HandleScoreConfirmedAsync"></EditScoreModal>
